In [1]:
import tabulate, logging
import Hql
from pathlib import Path
logging.getLogger().setLevel(logging.DEBUG)

conf_path = './conf'
conf = Hql.Config(Path(conf_path))

###

query = r"""
database('json').macro('network')
| project ['@timestamp'], src_ip=toip4(source.ip), src_port=source.port, dest_ip=toip4(destination.ip), dest_port=destination.port
| summarize count() by src_ip
"""

data = Hql.run_query(query, )

AttributeError: module 'Hql' has no attribute 'make_query'

In [4]:
import tabulate
data = [["Sun",696000,1989100000],
         ["Earth",6371,5973.6],
         ["Moon",1737,73.5],
         ["Mars",3390,641.85]]
table = tabulate.tabulate(data, tablefmt='html')
table

test

'<table>\n<tbody>\n<tr><td>Sun  </td><td style="text-align: right;">696000</td><td style="text-align: right;">   1.9891e+09</td></tr>\n<tr><td>Earth</td><td style="text-align: right;">  6371</td><td style="text-align: right;">5973.6       </td></tr>\n<tr><td>Moon </td><td style="text-align: right;">  1737</td><td style="text-align: right;">  73.5       </td></tr>\n<tr><td>Mars </td><td style="text-align: right;">  3390</td><td style="text-align: right;"> 641.85      </td></tr>\n</tbody>\n</table>'

In [31]:
import time
import datetime

def timestamp() -> int:
    return int(time.time())

def matches_minute(ts:int, minutes:list) -> bool:
    cur_minute = (ts % 3600) % 60
    for i in minutes:
        if i == cur_minute or i == '*':
            return True
    return False

def matches_hour(ts:int, hours:list) -> bool:
    cur_hour = (ts // 3600) % 24
    for i in hours:
        if i == cur_hour or i == '*':
            return True
    return False

def matches_day(ts:int, days:list) -> bool:
    datetime.datetime.utcfromtimestamp(ts).day
    
    for i in days:
        if i == cur_hour or i == '*':
            return True
    return False

# 0 * * * *
# Minute 0
ts = 1760144500
print(matches_minute(ts, ['*']))

# * 5 * * *
ts = 1760158860
print(matches_hour(ts, [5]))
ts = 1760144460
print(matches_hour(ts, [5]))

True
True
False

In [32]:
import datetime

print(datetime.datetime.now().timestamp())

def time_parts(ts: int) -> tuple[int, int, int, int, int]:
    dt = datetime.datetime.fromtimestamp(ts)
    return (dt.minute, dt.hour, dt.month, dt.day, dt.weekday())

print(time_parts(ts))

1760165107.075769
(1, 19, 10, 10, 4)